configure
.DS_Store
autom4te.cache
config.status
config.log
compile
depcomp
install-sh
missing
aclocal.m4
build-aux
libmapstore.pc
libtool
Makefile
Makefile.in
src/.deps/
src/*.o
src/*.lo
src/.libs
src/mapstore
src/libmapstore.la
test/*.o
test/.deps
test/tests
test/.libs
